#error_box.row
  = render('/layouts/errors', :object => @drug)
.border-form-div
  = simple_form_for(@drug, html: {class: 'form-horizontal'}) do |f|
    %h3 Enter Drug Details
    = f.hidden_field :user_id, value: current_user.id

    .form-group
      = f.label "Drug Name",:name
      = f.text_field :name, class: "form-control", :autofocus=>true


    .form-group
      = f.label "Describe what drug is for",:description
      = f.text_area :description, class: "form-control"

    .form-group
      = f.label "Cost you pay when not in donut hole",:cost_not_in_dh
      .input-group
        %span.input-group-addon
          %i.fa.fa-usd.fa-fw
        = f.text_field :cost_not_in_dh, class: "form-control"

    .form-group
      = f.label "Cost you pay if you are in the donut hole",:cost_in_dh
      .input-group
        %span.input-group-addon
          %i.fa.fa-usd.fa-fw
        = f.text_field :cost_in_dh, class: "form-control"

    .form-group
      = f.label "How much does this bill to donut hole",:bill_to_dh
      .input-group
        %span.input-group-addon
          %i.fa.fa-usd.fa-fw
        = f.text_field :bill_to_dh, class: "form-control"

    .form-group  
      = f.submit(:class => "btn btn-default")