= render('/layouts/errors', :object => @drug)

= simple_form_for(@drug, html: {class: 'form-horizontal'}) do |f|
  = f.hidden_field :user_id, value: current_user.id
  .form-group
    = f.label "Drug Name",:name, class: "col-xs-12 col-sm-3 form-label"
    .col-xs-6.col-sm-6
      = f.text_field :name, class: "form-control", :autofocus=>true


  .form-group
    = f.label "Describe what drug is for",:description, class: "col-xs-12 col-sm-3 form-label"
    .col-xs-10.col-sm-8
      = f.text_area :description, class: "form-control"

  .form-group
    = f.label "Cost you pay when not in donut hole",:cost_not_in_dh, class: "col-xs-12 col-sm-3 form-label"
    .col-xs-3.col-sm-3
      .input-group
        %span.input-group-addon
          %i.fa.fa-usd.fa-fw
        = f.text_field :cost_not_in_dh, class: "form-control"

  .form-group
    = f.label "Cost you pay if you are in the donut hole",:cost_in_dh, class: "col-xs-12 col-sm-3 form-label"
    .col-xs-3.col-sm-3
      .input-group
        %span.input-group-addon
          %i.fa.fa-usd.fa-fw
        = f.text_field :cost_in_dh, class: "form-control"

  .form-group
    = f.label "How much does this bill to donut hole",:bill_to_dh, class: "col-xs-12 col-sm-3 form-label"
    .col-xs-3.col-sm-3
      .input-group
        %span.input-group-addon
          %i.fa.fa-usd.fa-fw
        = f.text_field :bill_to_dh, class: "form-control"

  .form-group  
    .col-sm-offset-3.col-sm-9
      = button_tag(type: 'submit', class: "btn btn-default btn-float") do 
        %i.fa.fa-check-circle.fa-fw
        Create Drug
      = link_to '<i class="fa fa-chevron-left"></i> Back'.html_safe, :back, class: "btn btn-default btn-float"