<div id = "error_box" class = "row">
  <%= render('/layouts/errors', :object => @drug) %>
</div>

<%= form_for(@drug) do |f| %>
  <div class="form-group">
    <%= f.label :name%>
    <%= f.text_field :name, :autofocus=>true %>
  </div>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  <div class="form-group">
    <%= f.label :cost_not_in_donut_hole%>
    <%= f.text_field :cost_not_in_dh %>
  </div>
  <div class="form-group">
    <%= f.label :cost_in_donut_hole%>
    <%= f.text_field :cost_in_dh%>
  </div>
  <div class="form-group">
    <%= f.label :amount_bill_to_donut_hole%>
    <%= f.text_field :bill_to_dh %>
    <%= f.submit(:class => "btn btn-primary") %>
  </div>
<% end %>
