#error_box.row
  = render('/layouts/errors', :object => @drug)
= simple_form_for(@drug, html: {class: 'form-horizontal'}) do |f|
  = f.hidden_field :user_id, value: current_user.id
  .form-group
    = f.label :name
    = f.text_field :name, :autofocus=>true
  .form-group
    = f.label :description
    = f.text_field :description
  .form-group
    = f.label :cost_not_in_dh
    = f.text_field :cost_not_in_dh
  .form-group
    = f.label :cost_in_dh
    = f.text_field :cost_in_dh
  .form-group
    = f.label :bill_to_dh
    = f.text_field :bill_to_dh
    = f.submit(:class => "btn btn-primary")

