- content_for(:title, "#{@drug.name} | WoP" )
%div
  %h4= @drug.name
  %p= @drug.description
%div
  %p= link_to "Delete this drug", drug_path(@drug), :data => {:confirm => "NEVER delete drugs that there are prescriptions for, are you sure?", :method => "delete"}
= link_to "Back", drugs_path
