- content_for(:title, "#{@drug.name} | WoP" )
.jumbotron
  %h1= @drug.name
%table.table.table-bordered.table-striped.table-responsive
  %thead
    %tr
      %th Drug
      %th Description
      %th Cost You Pay
      %th Cost You Pay (In Donut Hole)
      %th Amount Billed to Insurance
  %tbody
    %tr
      %td= @drug.name
      %td= @drug.description
      %td 
        $
        = sprintf('%.2f', @drug.cost_not_in_dh)
      %td
        $
        = sprintf('%.2f', @drug.cost_in_dh)
      %td
        $ 
        = sprintf('%.2f', @drug.bill_to_dh)

%div
  = link_to "Delete this drug", drug_path(@drug), class: "btn btn-default btn-float", :data => {:confirm => "NEVER delete drugs that there are prescriptions for, are you sure?", :method => "delete"}
  = link_to "Back", drugs_path, class: "btn btn-default btn-float"
