= render 'layouts/errors', object: @filling

= simple_form_for(([@prescription, @filling]), html: { class: 'form-horizontal' }) do |f| 
  =f.hidden_field :prescription_id, value: @prescription.id 
  =f.hidden_field :user_id, value: current_user.id 

  .form-group
    = f.label :price_paid, "How much did you pay at pharmacy?", class: "col-xs-12 col-sm-3 form-label"
    .col-xs-3.col-sm-3
      .input-group
        %span.input-group-addon
          %i.fa.fa-usd.fa-fw
        = f.text_field :price_paid, class: "form-control"

  .form-group
    = f.label "Cost medicare paid?",:medicare_paid, class: "col-xs-12 col-sm-3 form-label"
    .col-xs-3.col-sm-3
      .input-group
        %span.input-group-addon
          %i.fa.fa-usd.fa-fw
        = f.text_field :medicare_paid, class: "form-control"

  .form-group
    .col-xs-3.col-sm-3
      = f.label "Date filled", :date_filled, class: "form-label"
    .col-sm-5
      = f.date_field :date_filled, class: "form-control"

  .form-group
    .col-xs-3.col-sm-3= f.label "Where was it filled?"
    .col-xs-5.col-sm-5
      .form-select= f.collection_select :pharmacy_id, Pharmacy.all.where(user_id:current_user.id), :id, :name, { prompt: 'Choose an Existing Pharmacy' }
      or
      = button_tag("<i id='iconChange'class='fa fa-chevron-down'> Create New Pharmacy</i>".html_safe,id:"create-pharmacy",type:'button',class: "btn btn-default btn-nofloat btn-create",title:'Click to create a new pharmacy if it is not in the list')

      %div.add-pharm
        = f.fields_for :pharmacy do |pharmacy|
          = pharmacy.text_field :name, placeholder: 'Pharmacy Name',class: "form-control"
          = pharmacy.text_field :url, placeholder: 'Website Address', class: "form-control"
          = pharmacy.phone_field :phone, placeholder: 'Phone Number', class: "form-control"

  .form-group
    .col-sm-offset-3.col-sm-9
      = button_tag(type: 'submit', class: "btn btn-default btn-float", title: f.object.new_record? ? "Fill Prescription" : "Update Prescription Filling") do 
        %i.fa.fa-check-circle.fa-fw
        = f.object.new_record? ? "Fill Prescription" : "Update Prescription Filling"

      = link_to '<i class="fa fa-chevron-left"></i> Back'.html_safe, :back, class: "btn btn-default btn-float",title:"Cancel"

