<%= render 'layouts/errors', object: @filling %>

<%= form_for(([@prescription.filling, @filling], html: { class: 'form-horizontal' }) do |f| %>

  <%= f.hidden_field :prescription_id, :value => @prescription.id %>
  <%= f.hidden_field :user_id, :value => current_user.id %>

  <div class="form-group">
      <%= f.label "Price", class: "col-xs-12 col-sm-2"%>
    <div class="col-xs-11 col-sm-9">
      <%= f.text_area :price_paid, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label "Date you filled at Pharmacy", class: 'col-sm-4 control-label' %>
    <div class="col-sm-8">
    <%= f.date_field :date_filled, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
      <%= f.label "Pharmacy that filled", class: "col-xs-2 col-sm-2"%>
    <div class="col-xs-3 col-sm-3">
      <%= f.collection_select :pharmacy_id, Pharmacy.all, :id, :name, prompt: true, class: 'form-select' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-9">
      <%= f.submit(:class => "btn btn-default float-btn", title: f.object.new_record? ? "Fill Prescription" : "Update Prescription Filling") %>
      <%= link_to "Cancel", :back, class: "btn btn-default float-btn",title:"Cancel" %>
    </div>
  </div>

<% end %>