- content_for(:title, "#{@drug.name} Prescription")

.jumbotron
  %h4 Filled Prescription for
  %h1=@drug.name

.col-xs-12.col-sm-6
  %h3 Filled Prescription Details
  %p
    %b Price Paid: 
    $
    = sprintf('%.2f', @filling.price_paid)
  %p
    %b Medicare Paid:
    $
    = sprintf('%.2f', @filling.medicare_paid)
  %p
    %b Pharmacy Name: 
    = link_to "#{@pharmacy.name}", pharmacy_path(@pharmacy)
  %p
    %b Pharmacy Phone:
    = @pharmacy.phone
  %p
    %b Pharmacy Website: 
    = link_to "#{@pharmacy.url}", @pharmacy.url, target: "_blank", title: "View #{@pharmacy.url}"

.col-xs-12.col-sm-6
  %h3 Prescription
  %p
    %b Drug Name: 
    = @drug.name
  %p
    %b Drug Unit of Measure: 
    = @prescription.drug_uom
  %p
    %b Renewal Interval: 
    = @prescription.renewal_interval
    months
  %p
    %b Quanity Prescribed: 
    = @prescription.quantity_prescribed

.col-xs-12
  = link_to '<i class="fa fa-edit fa-fw"></i> Edit this Filling'.html_safe, edit_prescription_filling_path(@prescription, @filling), class: "btn btn-default btn-nofloat", title: "Edit this Prescription Filling"
  = link_to '<i class="fa fa-chevron-left"></i> Back'.html_safe, :back, class: "btn btn-default btn-float"
