<h3>Filled Prescription Details</h3>

<div>
  <h4>Prescription</h4>
  <p><b>Drug Name: </b><%= @drug.name %></p>
  <p><b>Drug Unit of Measure: </b><%= @prescription.drug_uom %></p>
  <p><b>Renewal Interval: </b><%= @prescription.renewal_interval %></p>
  <p><b>Quanity Prescribed: </b><%= @prescription.quantity_prescribed %></p>
</div>

<div>
  <h4>Filled Prescription Details</h4>
  <p><b>Price Paid: </b><%= @filling.price_paid %></p>
  <p><b>Pharmacy Name: </b><%= @pharmacy.name %></p>
  <p><b>Pharmacy Phone: </b><%= @pharmacy.phone %></p>
  <p><b>Pharmacy Website: </b><%= @pharmacy.url %></p>
</div>
