- content_for(:title, "Pharmacy List")
.jumbotron
  %h1 Pharmacy List
  %p Your favorite Pharmacies you use to fill your prescriptions.
  = link_to '<i class="fa fa-plus-square-o fa-fw"></i> Add a New Pharmacy'.html_safe, new_pharmacy_path, :class =>"btn btn-default btn-lg", title:"Add a New Pharmacy"

.row
  - @pharmacies.each do |pharmacy|
    .col-xs-12.col-sm-4.col-lg-3
      %div.panel.panel-default
        .panel-heading
          %h3 
            =image_tag('pharmacy.png',class:"index-images")
            = pharmacy.name
        .panel-body
          %p= pharmacy.phone
          = link_to '<i class="fa fa-info-circle fa-fw"></i> More Info'.html_safe, pharmacy_path(pharmacy), class: "btn btn-default btn-float", title:"See more info for #{pharmacy.name}"