- content_for(:title, "#{@pharmacy.name}" )
.jumbotron
  %h1= @pharmacy.name
  = link_to '<i class="fa fa-chevron-left"></i> Back to Pharmacy List'.html_safe, pharmacies_path, class: "btn btn-default btn-nofloat btn-lg", title: "Back to Pharmacy List"
%div.view-pres
  %p
    %b Website: 
    = link_to "#{@pharmacy.url}", @pharmacy.url, target: "_blank", title: "View #{@pharmacy.url}"
  %p
    %b Phone:
    = @pharmacy.phone
  %table.table.table-bordered.table-striped.table-responsive
    %thead
      %tr
        %th Street
        %th City
        %th State
        %th Zip
    %tbody
      %tr
        %td= @pharmacy.street
        %td= @pharmacy.city
        %td= @pharmacy.state
        %td= @pharmacy.zip
  %row
    = link_to '<i class="fa fa-edit fa-fw"></i> Update Pharmacy Details'.html_safe, edit_pharmacy_path(@pharmacy), class: "btn btn-default btn-nofloat",title:"Update Pharmacy Details"
    = link_to '<i class="fa fa-trash fa-fw"></i> Delete this pharmacy'.html_safe, pharmacy_path(@pharmacy), class: "btn btn-default btn-nofloat", :data => {:confirm => "WARNING, this will delete all prescriptions you have filled here! Are you sure?", :method => "delete"}, title:"Delete this Pharmacy, WARNING"

%div.view-fill
  %h2 Prescriptions Filled at this Pharmacy
  - @pharmacy.fillings.each do |filling|
    - prescription = Prescription.find(filling.prescription_id)
    .col-xs-6.col-sm-4.col-md-3
      .panel.panel-default
        .panel-heading.pan-head
          %h4
            =image_tag('prescription-icon.png', class:"presc-image")
            = prescription.drug.name
        .panel-body.pan-bod
          %p= link_to "<i class='fa fa-book fa-fw'></i> Filled on #{filling.date_filled.strftime('%m/%d/%Y')}".html_safe, prescription_filling_path(prescription,filling), title: "View this Prescription Filling for #{prescription.drug.name}"

