<div class="border-form-div">
  <h2>Create Account</h2>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>
  <%= f.email_field :email, required: true, autofocus: true, :placeholder => 'Email address'  %>
  <%= f.password_field :password, required: true, :placeholder => 'Password' %>
  <%= f.password_field :password_confirmation, required: true, :placeholder => 'Password confirmation'  %>
  <%= f.button :submit, "Sign up", :class=>"btn btn-primary button-format" %>
  <% end %>
  <%= render "devise/shared/links" %>
</div>