<div id = "error_box" class = "row">
  <%= render('/layouts/errors', :object => @prescription) %>
</div>

<%= form_for(@prescription) do |f| %>
  <div class="form-group">
    <%= f.collection_select :drug_id, Drug.all, :id, :name, :class=>'form-select' %>
    <%= f.label :Unit_of_Measure %>
    <%= f.text_field :drug_uom %>
    <%= f.label :Renewal_interval_in_months %>
    <%= f.text_field :renewal_interval %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.submit(:class => "btn btn-primary") %>
  </div>
<% end %>
