<div id = "error_box" class = "row">
  <%= render('/layouts/errors', :object => @prescription) %>
</div>

<%= form_for(@prescription) do |f| %>
  <div class="form-group">
    <%= f.label :name%>
    <%= f.text_field :name %>
    <%= f.label :description %>
    <%= f.text_field :description %>
    <%= f.submit(:class => "btn btn-primary") %>
  </div>
<% end %>
