=render('layouts/errors', :object => @prescription)

= simple_form_for(@prescription, html: {class: 'form-horizontal'}) do |f|
  = f.hidden_field :user_id, :value => current_user.id

  - if Drug.all.count > 0
    .form-group
      .col-xs-12.col-sm-5
        = f.label "Drug for this prescription ", :name
      .col-xs-12.col-sm-5
        = f.collection_select :drug_id, Drug.all.where(user_id:current_user.id), :id, :name ,{ prompt: "Choose from your list" }, class: 'form-select'
  - else
    - render 'drug', object: @drug, f:f

  - if Doctor.all.count > 0
    .form-group
      .col-xs-12.col-sm-5
        = f.label "Prescribing Doctor Name", :name
      .col-xs-12.col-sm-5
        = f.collection_select :doctor_id, Doctor.all.where(user_id:current_user.id), :id, :name ,{ prompt: "Choose from your list" }, class: 'form-select'
  - else
    - render 'doctor', object: @doctor, f:f

  .form-group
    .col-xs-12.col-sm-5
      = f.label "Dosage (10mg, 10-325mg, etc)", :drug_uom
    .col-xs-12.col-sm-5
      = f.text_field :drug_uom, :autofocus=>true

  .form-group
    .col-xs-12.col-sm-5
      = f.label "How long is prescription", :renewal_interval
    .col-xs-5
      = f.select :renewal_interval, options_for_select(1..4), { prompt: "Quantity of" }
      %b months

  .form-group
    .col-xs-12.col-sm-5
      =f.label "Quantity Prescibed", :quantity_prescribed
    .col-xs-4
      = f.text_field :quantity_prescribed

  .form-group  
    .col-sm-offset-3.col-sm-9
      = button_tag(type: 'submit', class: "btn btn-default btn-float", title: f.object.new_record? ? "Create Prescription" : "Update Prescription") do 
        %i.fa.fa-check-circle.fa-fw
        = f.object.new_record? ? "Create Prescription" : "Update Prescription"
      = link_to '<i class="fa fa-chevron-left"></i> Cancel'.html_safe, :back, class: "btn btn-default btn-float", title:"Cancel"
