=render('layouts/errors', :object => @prescription)

= simple_form_for(@prescription, html: {class: 'form-horizontal'}) do |f|

  - if Drug.all.count > 0
    .col-xs-12.col-sm-5
      = f.label "Drug for this prescription", :name
    .col-xs-12.col-sm-6
      = f.collection_select :drug_id, Drug.all.where(user_id:current_user.id), :id, :name ,{ prompt: "Choose from your list" }, class: 'form-control'
      #choose-drug or
      = button_tag("<i id='iconChange'class='fa fa-plus'> Add a New Drug</i>".html_safe, id:"create-new-drug",type:'button',class: "btn btn-default btn-nofloat btn-create", title:'Add a new Drug if it is not in the list')
      %div.add-new-drug
        = render 'new_drug', object: :drug, f: f
      %hr
  - else
    = render 'new_drug', object: :drug, f:f

  - if Doctor.all.count > 0
    .col-xs-12.col-sm-5
      = f.label "Prescribing Doctor Name", :name
    .col-xs-12.col-sm-6
      = f.collection_select :doctor_id, Doctor.all.where(user_id:current_user.id), :id, :name ,{ prompt: "Choose from your list" }, class: 'form-control'
      #choose-doc or
      = button_tag("<i id='iconChange'class='fa fa-plus'> Add a New Doctor</i>".html_safe, id:"create-new-doc",type:'button',class: "btn btn-default btn-nofloat btn-create", title:'Add a new Doctor if they are not in the list')
      %div.add-new-doc
        = render 'new_doctor', object: :doctor, f: f
      %hr
  - else
    .col-xs-12.col-sm-5
      = f.label "Enter Doctor Information"
    .col-xs-12.col-sm-6
      = render 'new_doctor', object: :doctor, f:f

  .form-group
    .col-xs-12.col-sm-5
      = f.label "Dosage (10mg, 10-325mg, etc)", :drug_uom
    .col-xs-12.col-sm-6
      = f.text_field :drug_uom, class: "form-control"

  .form-group
    .col-xs-12.col-sm-5
      = f.label "How long is prescription", :renewal_interval
    .col-xs-12.col-sm-6
      = f.select :renewal_interval, options_for_select(1..4), { prompt: "Quantity of Months" }, class: "form-control"

  .form-group
    .col-xs-12.col-sm-5
      =f.label "Quantity of Drug Prescribed", :quantity_prescribed
    .col-xs-12.col-sm-6
      = f.text_field :quantity_prescribed, class: "form-control"

  .form-group  
    .col-sm-offset-3.col-sm-9
      = button_tag(type: 'submit', class: "btn btn-default btn-float", title: f.object.new_record? ? "Create Prescription" : "Update Prescription") do 
        %i.fa.fa-check-circle.fa-fw
        = f.object.new_record? ? "Create Prescription" : "Update Prescription"
      = link_to '<i class="fa fa-chevron-left"></i> Cancel'.html_safe, :back, class: "btn btn-default btn-float", title:"Cancel"
      
  = f.hidden_field :user_id, :value => current_user.id
