- content_for(:title, "Current Prescriptions" )
.jumbotron
  %h1 Current Prescriptions
  %p Create and view your prescriptions and process them when you fill at the pharmacy.
  = link_to '<i class="fa fa-plus-square-o fa-fw"></i> Add a New Prescription'.html_safe, new_prescription_path, :class =>"btn btn-default btn-lg", title:"Add a New Prescription"

%div.col-xs-12
  - @prescriptions.each do |prescription|
    - drug = Drug.find(prescription.drug_id)
    .col-md-3
      .panel.panel-default
        .panel-heading
          %h4
            =image_tag('prescription-icon.png', class:"presc-image")
            = prescription.drug.name
        .panel-body
          %p= prescription.drug.description
          = link_to '<i class="fa fa-info-circle fa-fw"></i> View Prescription'.html_safe, prescription_path(prescription), class: "btn btn-default btn-float", title: "View Prescription for #{prescription.drug.name}"


