- content_for(:title, "#{@prescription.drug.name}" )

.jumbotron
  %h1=@prescription.drug.name.to_s + " Prescription"
  %div
    %div= link_to '<i class="fa fa-plus-square-o fa-fw"></i> I filled this Prescription, I want to add that now'.html_safe, new_prescription_filling_path(@prescription), :class =>"btn btn-default btn-lg btn-nofloat",title: "Fill this Prescription"
    %div= link_to '<i class="fa fa-chevron-left"></i> Back to Prescription List'.html_safe, prescriptions_path, class: "btn btn-default btn-nofloat btn-lg", title:"Back to Prescription List"

%div.view-pres
  %h2 Doctor Prescription
  %table.table.table-bordered.table-striped.table-responsive
    %thead
      %tr
        %th Drug
        %th Dosage (10mg, 10-325mg, etc)
        %th Quantity Prescribed
        %th Renewal
    %tbody
      %tr
        %td= @prescription.drug.name
        %td= @prescription.drug_uom
        %td= @prescription.quantity_prescribed
        %td= @prescription.renewal_interval.to_s.html_safe + " month(s)"
  .row
    = link_to '<i class="fa fa-edit fa-fw"></i> Update this Prescription'.html_safe, edit_prescription_path(@prescription), class: "btn btn-default btn-nofloat", title:"Update this Prescription"
    = link_to '<i class="fa fa-trash fa-fw"></i> Delete this Prescription'.html_safe,prescription_path(@prescription), :data => {:confirm => "WARNING! This deletes all the pharmacy filling records!!", :method => "delete"}, class: "btn btn-default btn-nofloat", title:"Delete this Prescription" 


%div.view-fill
  %h2 Pharmacy Fillings
  - @fillings.each do |filling|
    - pharmacy = Pharmacy.find(filling.pharmacy_id)
    %p= link_to "<i class='fa fa-book fa-fw'></i> #{filling.date_filled.strftime('%m/%d/%Y')} for #{@prescription.drug.name} at #{pharmacy.name}".html_safe, prescription_filling_path(@prescription,filling), title: "View this Prescription Filling for #{@prescription.drug.name}"

