- content_for(:title, "Prescription Manager" )
.head-row
  .jumbotron
    %h1 Welcome to Prescription Manager
    %div.welcome-create
      %p Create a personalized account now to start managing your medicare prescriptions and your total drug costs to avoid the "donut hole" as long as possible.
      %p If you want to try it out before creating your own account: 
      %p= link_to "Log In with the guest account ", new_user_session_path, id: "login-prof",class: "guest-style"


.row-one
  = link_to image_tag("prescription.jpg", :id=>'prescrip-main' ,:class=>"image_box img-responsive img-thumbnail"), prescriptions_path, title:"Manage Prescriptions"
  %h1 Prescriptions
  %p Add new prescriptions, view all current prescriptions

.row-two
  %div= link_to image_tag("drug.jpg", :id=>'drug-main', :class=>"image_box img-responsive img-thumbnail"), drugs_path, title:"Manage Drugs"
  %div
    %h1 Drug Library
  %div
    %p Add and view all drugs in your library. These will be added to your prescriptions.

.row-three
  = link_to image_tag("pharmacy.jpg", :id=>'drug-main', :class=>"image_box img-responsive img-thumbnail"), drugs_path, title:"Manage Drug Library"
  %h1 Pharmacies
  %p Manage your pharmacies. These are used when you fill a prescription.

.row-four
  = image_tag("cost.jpg", :class=>"image_box img-responsive img-thumbnail")
  %h3 Manage Costs
  %p Look at your totals for the donut hole and how much you have spent on prescriptions year to date.
  %p.coming-soon This feature is in progress!