- content_for(:title, "#{@doctor.name}" )
.jumbotron
  %h1= @doctor.name
  = link_to '<i class="fa fa-chevron-left"></i> Back to Doctors List'.html_safe, doctors_path, class: "btn btn-default btn-nofloat btn-lg", title: "Back to Doctors List"
%div.view-pres
  %p
    %b Practice Name:
    = @doctor.practice_name
  %p
    %b Office Phone:
    = @doctor.office_phone
  %p
    %b Office email:
    = @doctor.email
  %row
    = link_to '<i class="fa fa-edit fa-fw"></i> Update Doctor Details'.html_safe, edit_doctor_path(@doctor), class: "btn btn-default btn-nofloat",title:"Update Doctor Details"
    = link_to '<i class="fa fa-trash fa-fw"></i> Delete this doctor'.html_safe, doctor_path(@doctor), class: "btn btn-default btn-nofloat", :data => {:confirm => "WARNING, this will delete all prescriptions you have filled here! Are you sure?", :method => "delete"}, title:"Delete this Doctor, WARNING"

%div.view-fill
  %h2 Prescriptions by this Doctor
  - @doctor.prescriptions.each do |prescription|
    .col-xs-6.col-sm-4.col-md-3
      .panel.panel-default
        .panel-heading.pan-head
          %h4
            =image_tag('prescription-icon.png', class:"presc-image")
            = prescription.drug.name
        .panel-body.pan-bod
          - drug = Drug.find(prescription.drug_id)
          %p= link_to "<i class='fa fa-book fa-fw'></i>Prescription for: #{drug.name}".html_safe, prescription_path(prescription), title: "View this Prescription Filled by #{@doctor.name}"

