%h1 Log In
.login_form
 = form_tag sessions_path do
  .field
   = label_tag :name
   = text_field_tag :name, params[:name], :autofocus=>true
  .field
   = label_tag :password
   = text_field_tag :password
  .actions
   = submit_tag "Log In", :class=>"btn btn-primary button-format"
%p Need an account? 
= link_to "Signup", signup_path, :class=>"btn btn-primary button-format"


