.collapse.navbar-collapse
  %ul.nav.navbar-nav
    %li= link_to "Contact", "#"
  %ul.nav.navbar-nav.navbar-right
    - if user_signed_in?
      %li= link_to "Prescriptions", prescriptions_path
      %li= link_to "Drugs", drugs_path
      %li= link_to "Pharmacies", pharmacies_path


      %li.dropdown
        = link_to "#{current_user.name} <b class='caret'></b>".html_safe, "#", class: "dropdown-toggle", data: {toggle: "dropdown"}
        %ul.dropdown-menu
          %li
            = link_to edit_user_registration_path do
              %i.fa.fa-pencil.fa-fw
              Edit Profile
          %li
            = link_to destroy_user_session_path, method: :delete do
              %i.fa.fa-sign-out.fa-fw
              Log Out
    - else
      %li.dropdown
        = link_to "Log In or Create Account <b class='caret'></b>".html_safe, "#", class: "dropdown-toggle", data: {toggle: "dropdown"}
        %ul.dropdown-menu
          %li
            = link_to new_user_registration_path do
              %i.fa.fa-plus-circle.fa-fw
              Create Account
          %li
            = link_to new_user_session_path do
              %i.fa.fa-sign-in.fa-fw
              Log In