<!DOCTYPE html>
<html ng-app='MainApp'>
<head>
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "//ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js" %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <title><%= yield(:title) %></title>
</head>
<body>
<div class = "container">

  <div id="page_header" class="wop">
    <%= link_to "World of Prescriptions", root_path, :class => "heading_text" %>
  </div>

  <nav class="navbar navbar-default">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand">World of Prescriptions</div>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse nav_formatting">
      <div class="nav navbar-nav navbar-right">
        <% if current_user %>
          <div class="nav-format">Logged in as <%= current_user.name %></div>
          <div class="nav-format"><%= link_to "Log Out", logout_path %></div>
        <% else %>
          <div class="nav-format"><%= link_to "Sign Up", signup_path %></div>
          <div class="nav-format"><%= link_to "Log In", login_path %></div>
        <% end %>
        <div class="nav-format"><%= link_to "Home",root_path %></div>
      </div>
    </div>
  </nav>

  <div class = "yield_body clearfix">
    <%= yield %>
  </div>

  <div id='flash_notice' class='clearfix'>
    <% if flash[:notice] == 'Successful' %>
      <div class='alert alert-success' role='alert'>
        <%= flash[:notice] %></div>
    <% elsif flash[:notice] != nil %>
      <div class='alert alert-info' role='alert'>
        <%= flash[:notice] %></div>
    <% end %>
    <% if flash[:alert] != nil %>
      <div class='alert alert-danger' role='alert'>
        <%= flash[:alert] %></div>
    <% end %>
  </div>

  <footer class="footer_css">
    <p ng-controller='Clock'>Angular Clock - Current Time: {{currentTime | date: 'h:mm:ss a'}} - Project By Randy Leighton</p>
  </footer>

</div>
</body>
</html>
