!!!
%html{"ng-app"=>"MainApp"}
%head
= favicon_link_tag 'favicon.ico'
= javascript_include_tag "//ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"
= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
= javascript_include_tag 'application', 'data-turbolinks-track' => true
= csrf_meta_tags
:javascript
  $(document).ready(function(){
    setTimeout(function(){
      $('#flash_notice').remove();
    }, 4000);
   });
%title= yield(:title)
%body
  %nav.navbar.navbar-default
    .navbar-header
      %button.navbar-toggle{"data-toggle"=>"collapse","data-target"=>".navbar-responsive-collapse", :type =>"button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .navbar-brand
        = link_to root_path, :class=>"heading_text" do
          = image_tag("favicon.ico")
          Prescription Manager

    .navbar-collapse.collapse.navbar-responsive-collapse
      .nav.navbar-nav.navbar-right.btn-group.open
        %a.btn.btn-primary{:href => "#"}
          %i.fa.fa-user.fa-fw
          - if user_signed_in?
            = current_user.name
          - else
            Log In
        %a.btn.btn-primary.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
          %span.fa.fa-caret-down
        %ul.dropdown-menu
          - if user_signed_in?
            %li
              = link_to edit_user_registration_path do
                %i.fa.fa-pencil.fa-fw
                Edit Profile
            %li
              = link_to destroy_user_session_path, method: :delete do
                %i.fa.fa-pencil.fa-fw
                Log Out
          - else
            %li
              = link_to new_user_registration_path do
                %i.fa.fa-pencil.fa-fw
                Create Account
            %li
              = link_to new_user_session_path do
                %i.fa.fa-pencil.fa-fw
                Log In

    .yield-top= yield
    #flash_notice.clearfix
      - if flash[:notice] != nil
        .alert.alert-info{:role =>"alert"}
          =flash[:notice]
      - if flash[:alert] != nil
        .alert.alert-danger{:role =>"alert"}
          =flash[:alert]







