!!!
%html{"ng-app"=>"MainApp"}
%head
= favicon_link_tag 'favicon.ico'
= javascript_include_tag "//ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"
= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
= javascript_include_tag 'application', 'data-turbolinks-track' => true
= csrf_meta_tags
%title= yield(:title)

%body
  %nav.navbar.navbar-default
    = render 'layouts/nav_header'
    = render 'layouts/nav_collapse' 

  #flash_notice.clearfix
    - if flash[:notice] != nil
      .alert.alert-info{:role =>"alert"}
        =flash[:notice]
    - if flash[:alert] != nil
      .alert.alert-danger{:role =>"alert"}
        =flash[:alert]

  .yield-top= yield







