!!!
%html{"ng-app"=>"MainApp"}
%head
= favicon_link_tag 'favicon.ico'
= javascript_include_tag "//ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"
= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
= javascript_include_tag 'application', 'data-turbolinks-track' => true
= csrf_meta_tags
:javascript
  $(document).ready(function(){
    setTimeout(function(){
      $('#flash_notice').remove();
    }, 4000);
   });
%title= yield(:title)
%body
  %nav.navbar.navbar-default
    .navbar-header
      %button.navbar-toggle{"data-toggle"=>"collapse","data-target"=>".navbar-responsive-collapse", :type =>"button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .navbar-brand
        = link_to root_path, :class=>"heading_text" do
          = image_tag("favicon.ico")
          Prescription Manager

    .navbar-collapse.collapse.navbar-responsive-collapse.nav_formatting
      .nav.navbar-nav.navbar-right
        - if user_signed_in?
          .nav-format
            Logged in as
            = current_user.name
          .nav-format= link_to "Edit Profile", edit_user_registration_path
          .nav-format= link_to "Log Out", destroy_user_session_path, method: :delete
        - else
          .nav-format= link_to "Create Account", new_user_registration_path
          .nav-format= link_to "Log In", new_user_session_path

    =yield

    #flash_notice.clearfix
      - if flash[:notice] != nil
        .alert.alert-info{:role =>"alert"}
          =flash[:notice]
      - if flash[:alert] != nil
        .alert.alert-danger{:role =>"alert"}
          =flash[:alert]







